body {
  background-color: white; 
  font-family: Arial, sans-serif;
}



.top-bar {
  display: flex;
  justify-content: flex-end;
}

.box {
  border: 1px solid black;
  padding: 10px;
  margin-right: 10px;
}

h1 {
  text-align: center;
}


.review {
  margin-top: 50px;
  text-align: center;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  
}

.reviewer {
  margin-top: 10px;
}

.reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.input-box {
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.three-sentences {
  display: flex;
  justify-content: flex-start;
}

.contact-us {
  width: 450px;
  height: 620x;
  border-radius: 5px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.input-box {
  width:100%;
}

.input-custom{
  border: 2px solid white;
  border-radius: 5px;
} 

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  color: white;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%; 
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.box h2 {
  margin-bottom: 5px;
}

.box p {
  margin-bottom: 10px;
}

.box img {
  float: right;
  width: 30px; 
  height: 30px;
}